@import url('https://fonts.googleapis.com/css?family=Courgette|Slabo+27px');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url(https://cdn4.matsmart.se/sites/all/themes/retailshop/images/bg.jpg);
    background-attachment: fixed;
}
div.kontainer {
    width: 800px;
    padding: 30px;
    background: #DDD;
    margin: 20px auto;
    border-radius: 5px;
    font-family: sans-serif;
}
header {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
h1 {
    font-size: 25px;
    text-align: center;
}
#korgen {
    width: 200px;
    border: 1px solid #CCC;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    background: #FFF;
}
main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
div.vara {
    font-family: sans-serif;
    font-size: 14px;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
}
img {
    height: 200px;
    padding: 20px;  
}
table {
    width: 100%;
    background: #EEE;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
table, th, td {
border: 1px solid #CCC;
}
table #kop {
    background: green;
    color: #FFF;
    width:50%;
}
table #kop:hover {
    background: rgb(0, 80, 0);
}
table #plus:hover, table #minus:hover {
    background: #BBB;
}