@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Style för gemensamt utseende */
body {
    background: url(https://cdn4.matsmart.se/sites/all/themes/retailshop/images/bg.jpg);
    background-attachment: fixed;
}
.kontainer {
    width: 800px;
    padding: 30px;
    background: #DDD;
    margin: 20px auto;
    border-radius: 5px;
    font-family: sans-serif;
}
header {
    padding: 20px 0;
}
h1 {
    font-size: 25px;
}
label {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
}
input {
    width: 150px;
    display: inline-block;
    text-align: right;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: #FFF;
}
button {
    height: 25px;
    background: green;
    color: white;
    border: none;
    border-radius: 3px;
}
footer {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}

/* Style för lista_vara.php */
.listaVara header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.listaVara main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.listaVara #korg {
    text-align: right;
}
.listaVara #antalVaror {
    width: 25px;
    height: 25px;
    text-align: center;
    background: green;
    border: none;
    border-radius: 50%;
    color: #FFF;
    font-size: 14px;
}
.listaVara button[type="reset"] {
    background: red;
}
.listaVara .vara {
    font-family: sans-serif;
    font-size: 14px;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
}
.listaVara img {
    height: 200px;
    padding: 20px;
}
.listaVara #summa {
    font-weight: bold;
    color: red;
}
.listaVara #kassan:disabled {
    background: rgb(133, 161, 133);
}
.listaVara table {
    width: 100%;
    background: #EEE;
    border-collapse: collapse;
    margin-top: 20px;
}
.listaVara table.kontroll {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
}
.listaVara table, th, td {
    border: 1px solid #CCC;
}
.listaVara table #antal, table #plus {
    width: 25%;
}
.listaVara table #kop {
    background: green;
    color: #FFF;
    width: 50%;
}
.listaVara table #kop:hover {
    background: rgb(0, 80, 0);
}
.listaVara table #plus:hover, table #minus:hover {
    background: #BBB;
}

/* Style för ny_vara.php */
.nyVara .valjFil {
    border: 1px solid #CCC;
    display: inline-block;
    cursor: pointer;
    padding: 3px 6px;
    color: #FFF;
    background: #888;
    border-radius: 5px;
}
.nyVara input[type="file"] {
    display: none;
}

/* Style för kassa.php */
.kassa table {
    width: 100%;
    border-collapse: collapse;
}
.kassa th {
    text-align: left;
    padding: 5px;
    border: none;
}
.kassa td {
    padding: 10px;
    border:none;
}
.kassa th, .kassa td {
    border-bottom: 1px solid #AAA;
}
.kassa .total {
    background: #FFF;
    width: 300px;
    padding: 20px;
    margin: 20px 0 0 400px;
    text-align: right;
}